@import url(variables/color.css);
.label{
    -fx-text-fill: buttonText;
}

#l2,#l1{
    -fx-font-weight: 800;
    -fx-font-size: 15px;
}
#l2{
    -fx-font-weight: 600;
    -fx-font-style: italic;
}

#title_list{
    -fx-background-color: whitesmoke;
    -fx-background-radius: 6px;
}

#listTitle{
    -fx-font-weight: 900;
    -fx-font-size: 20px;
    -fx-text-fill: mainColor;
}